* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    transition: 2s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* Start of Site Grid */
#wrapper-item-1 {
    grid-area: header;
    align-self: end;
}

#wrapper-item-2 {
    grid-area: aside;
    justify-self: end;
}

#wrapper-item-3 {
    grid-area: main;
    margin: 0;
}

#wrapper-item-4 {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 200px auto 70px;
    grid-template-areas: 
        ". header ."
        "aside main ."
        ". footer .";
}
/* End of Site Grid */

#logo {
    width: 150px;
    height: auto;
}

/* Navigation */
nav {
    font-size: 2rem;
    line-height: 1.5;
    text-align: right;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

a {
    color: #74505c;
}

.underline {
    transition: 300ms;
    border-bottom: 1px solid transparent;
}
  
.underline:hover {
    border-color: #7c886d;
}

.icons,
.icons-foot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.icons a {
    margin-left: 20px;
}

.icons a:hover {
    opacity: 0.7;
}

svg {
    fill: #74505c;
}

/* Start of Main Gallery Grid */
.gallery {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 400px);
}

.gallery img {
    display: block;
    width: 400px;
    transition: opacity 0.3s ease;
}

.gallery img:hover {
    opacity: 0.7;
}
/* End of Gallery Grid */

/* Start of Project Gallery Grid */
.project-gallery {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: minmax(500px, max-content);
}

.project-gallery img {
    display: block;
    width: 100%;
}
/* End of Project Gallery Grid */

.mail {
    text-decoration: underline;
}

main p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.info {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 400px);
}

.info img {
    display: block;
    width: 400px;
}

.icons-foot {
    display: none;
}

/* Mobile Size */
@media only screen and (max-width: 690px) {
    
    .wrapper {
        grid-gap: 10px;
        grid-template-columns: 100vw;
        grid-template-rows: 200px 50px auto 75px;
        grid-template-areas: 
            "header"
            "aside"
            "main"
            "footer";
    }
    
    #wrapper-item-1,
    #wrapper-item-2,
    #wrapper-item-4 {
        align-self: center;
        justify-self: center;
    }

    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding: 10px 20px;
    }

    .gallery,
    .project-gallery,
    .info {
        grid-template-columns: 100vw;
    }

    .gallery img,
    .info img {
        width: 100%;
    }

    .icons-foot {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons-foot a {
        margin: 0 10px;
    }

    .icons {
        display: none;
    }
}